@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); /* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); /* font-family: 'Open Sans', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-organick-h1;
  }
  h2 {
    @apply text-organick-h2;
  }
  h3 {
    @apply text-organick-h3;
  }
  h4 {
    @apply text-organick-h4;
  }
  h5 {
    @apply text-organick-h5;
  }
  h6 {
    @apply text-organick-h6;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  ol li::marker {
    font-weight: 700;
  }
  li {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: theme("colors.organick-dark");
  }
}
